# Banco de Dados (SQL Server)
DB_SERVER=localhost\SQLEXPRESS
DB_DATABASE=gestaointernabi-database

# Autenticação (JWT)
JWT_SECRET=gestaointernabi-database-secret-2026-change-in-prod-12345

# Configurações do Servidor
PORT=3000
